html, body {
  height: 100%;
  overflow-x: hidden;
  padding-top: 50px;
}

#main {
  margin-top: -50px;
}

body {
  background-color: #fbfbfb;
  overflow-y: scroll; /* required for apps */
}

#TopBar {
  .glyphicon {
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .glyphicon-floppy-disk {
    color: #9d9d9d; //gray
    cursor: default;
  }
  &.dirty .glyphicon-floppy-disk {
    cursor: pointer;
    color: #00b5ff; //blue
  }

  #load-label {
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .title-button {
    font-size:15px;
  }

  .title-text {
    font-size:15px;
  }

}

.sidebar-offcanvas {
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

#CasePage {
  padding-left: 0;

  small {
    color: #888;
    padding-left: 15px;
  }

  .table {
    table-layout: fixed;
  }

  .table td, .table th {
    text-align: center;
    vertical-align: middle;
  }

  .table td.left, .table th.left {
    text-align: left;
  }

  .unarbitrated-row {
    outline: 2px solid #bf8181;
    outline-offset: -1px;

    &:nth-child(even) {
      background-color: #ffeeee;
    }

    &:nth-child(odd) {
      background-color: #ffdede;
    }
  }

  .accept-button {
    font-weight: bold;
    height: 40px;
    width: 40px;
  }

  .arbitrator-textbox {
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  .arbitrate-button {
    width: 80px;
  }

  .coder-label {
    text-overflow: ellipsis;
    word-break: break-word;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #5c5c5c;
  }
}

#SetupPage {
  .form-group {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    width: 450px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#Sidebar {
  #no-cases {
    font-style: italic;
    font-color: #999;
    padding-top: 15px;
  }

  .case-link {
    &.selected-case {
      background-color: #ccc;
    }
    &:active {
      background: #bbb;
    }
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


