html, body {
  height: 100%;
  overflow-x: hidden;
  padding-top: 50px;
}

#main {
  margin-top: -50px;
}

body {
  background-color: #fbfbfb;
  overflow-y: scroll; /* required for apps */
}

#TopBar {
  color: #eee;

  .glyphicon {
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .glyphicon-floppy-disk {
    color: #9d9d9d; //gray
    cursor: default;
  }
  &.dirty .glyphicon-floppy-disk {
    cursor: pointer;
    color: #00b5ff; //blue
  }

  #load-label {
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .title-button {
    font-size:15px;
  }

  .title-text {
    font-size:15px;
  }

  label {
    padding-top:15px;
  }

  input {
    margin: 0px 5px 0px 0px;
  }

}

.sidebar-offcanvas {
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

#CasePage, #SetupPage {
  .table {
    table-layout: fixed;
  }
}

#CasePage {
  padding-left: 0;

  small {
    color: #888;
    padding-left: 15px;
  }

  .table td, .table th {
    text-align: center;
    vertical-align: middle;
  }

  .table td.left, .table th.left {
    text-align: left;
  }

  .unarbitrated-row {
    outline: 2px solid #bf8181;
    outline-offset: -1px;

    &:nth-child(even) {
      background-color: #ffeeee;
    }

    &:nth-child(odd) {
      background-color: #ffdede;
    }
  }

  .hide-arbitrated .arbitrated-row {
    display: none;
  }

  .hide-blanks .blank-row {
    display: none;
  }

  .hide-arbitrated-container, .hide-blanks-container {
    font-size: 14px;
    background-color: lightgray;
    border: 2px solid darkgray;
    padding: 10px;
  }

  .accept-button {
    font-weight: bold;
    height: 40px;
    width: 40px;
  }

  .arbitrator-textbox {
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  .arbitrate-button {
    width: 80px;
  }

  #auto-arbitrate-button {
    margin-left: 5px;
  }

  .coder-label {
    text-overflow: ellipsis;
    word-break: break-word;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #5c5c5c;
  }

  div.progress {
    width:calc(100% - 20px);
  }
  div.progress-container {
    display: flex;
    margin-top: 10px;
  }
}

#SetupPage {

  #normalizationTable, .form-group {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
  }

  .form-group {
    width: 450px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #normalizationTable td{
    padding-right: 5px;
  }

  .editing-row {
    outline: 2px solid #6eb5ff;
    outline-offset: -1px;
    background-color: #abdeff;
  }

  .adding-row td {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

#sidebarTd {
  position: absolute;
  width: 20%;
}

#Sidebar {
  #no-cases {
    font-style: italic;
    font-color: #999;
    padding-top: 15px;
  }

  .case-link {
    &.selected-case {
      background-color: #ccc;
    }
    &:active {
      background: #bbb;
    }
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul.nav-sidebar {
    overflow-y: scroll;
    position: absolute;
    height: calc(100vh - 250px);
    width: calc(100% - 15px);
  }
}

.arb-tip {
  color: #2e6da4;
}


